
#container {
    height: 600px;
    width: 600px;
}
.cell {
    height: 200px;
    width: 200px; 
    outline: 3px solid black;
    float:left;
}

.nought {
    background-color:rgba(255,0,0,0.5);
}
.cross {
    background-color:rgba(0,255,0,0.5);
}

/*left-most cells*/
#cell0, #cell3, #cell6 {
    outline-left: 0px;
}

/*right-most cells*/
#cell2, #cell5, #cell8 {
    outline-right: 0px;
}

/*top-most cells*/
#cell0, #cell1, #cell2 {
    outline-top: 0px;
}

/*bottom cells*/
#cell6, #cell7, #cell8 {
    outline-bottom: 0px;
}